.container{
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

.social-links{
    padding:5px 20%;
}
.nav-bar{
    padding: 0 20%;
}
.nav-items{
    float: right;
}
.nav-toggler-icon{
    display: none;
}
.toggler-input{
    display: none;
}

.links-item{
    display: inline-block;
    margin: 5px;
}

.logo-wrapper,.footer-logo-wrapper{
    padding:10px 0px;
    width: 10%;
}

.logo-img{
    max-width: 114px;
    min-width: 100px;
    width: 100%;
}

.nav-item{
    display: inline-block;
    margin-left:20px;
}
.nav-link{
    display: inline-block;
    padding: 20px 5px;
}

.corporate-tasks{    
    position: relative;
    height: 40vw;
}

.task-wrapper{
    width: 59.37%;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-65%);
}

.customers-wrapper{
    width: 73.35%;
    margin: 20px auto;
    padding: 40px 0px;
}

.customer{
    display: inline-block;
    width: 30%;
    padding-right:15px ;
}

.customer-logos{
    display: inline-block;
    width: 69%;
}
.customer-logo-wrapper{
    display: inline-block;
    width: 24%;
    height: 93px;
    padding-left:20px;
}

.customer-logo{
    max-width: 185px;
    min-width: 80px;
    height: 100%;
    width: 100%;
}


.content-img-wrapper{
    width: 41%;
    margin:10px 0px;
}

.content-img{
    width: 100%;
    height: 100%;
    max-width: 780px;
    min-width: 365px;
    max-height: 635px;
    min-height: 345px;
}

.special-fields{
    width: 59%;
    padding:  40px 0px;
}

.special-field{
    padding-right:200px;
}

.special-list,.status{
    width: 50%;
    float: left;
    margin-top: 40px;
    padding:10px 0px;
}
.content-3{
    padding:60px 0px;
}

.special-icon-wrapper{
    float:left;
    padding:0px 15px 20px 0px;
    width: 50px;
    height: 55px;
}

.special-topic{
    padding-left: 15px;
    float: left;
    width: 80%;
}

.special-topic-description{
    margin:10px 0px;
}

.current-status-wrapper{
    margin:40px 0;
}

.content-wrapper{
    width: 40%;
    padding-top:200px;
}

.contact-wrapper
,.contact-form{
    width: 50%;
    margin: 0 auto;
}

.name-field{
    width: 50%;
    float: left;
}

.form-label,.form-input{
    width: 100%;
    display: block;
    margin:10px 0px;
}

.form-input{
    border-radius: 10px;
    height: 60px;
}

textarea.form-input{
    height: 120px;
}

.form-input:focus{
    border:1px solid #4caf50;
}
.footer{
    width: 100%;
    padding:50px 10%;
    padding-bottom: 0px;
}

.copyright{
    width: 30%;
    float:left;
    margin-right:50px
}


.privacy-terms span{
    width: 50%;
}

.footer-items{
    width: 60%;
    float: right;
}

.footer-category,.footer-community,.footer-follow{
    width: 33%;
    float: left;
    padding-left: 20px;
}

.footer-item{
    padding:10px 0px;
}

.follow-item{
    display: inline-block;
    padding:0 5px;
}
.follow-link-icon{
    width: 14px;
    height: 12px;
}


/* Helper Classes */

.f-l{
    float: left;
}

.f-r{
    float: right;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-20{
    margin-top: 20px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-y-20{
    margin:20px 0px;
}

.m-y-10{
    margin:10px 0px;
}

.m-y-40{
    margin: 40px 0px;
}
.p-40{
    padding:40px;
}

.p-y-5{
    padding: 5px 0px;
}

.p-y-20{
    padding:20px 0px;
}
.p-b-40{
    padding-bottom:40px ;
}
.p-b-30{
    padding-bottom: 30px;
}
.p-r-5{
    padding-right: 5px;
}

.p-r-15{
    padding-right: 15px;
}
.p-r-5{
    padding-right: 5px;
}

.p-r-15{
    padding-right: 15px;
}

.p-l-5{
    padding-left: 5px;
}

.c-success{
    color: #32d5ba;
}
.c-cool{
    color: #89cff4;
}
.c-warm{
    color: #ffd13c;
}

.c-danger{
    color: #f44336;
}

.t-c{
    text-align: center;
}



/* Breakponts for responsive design */

@media only screen and (max-width: 992px) {

    .social-links{
        padding: 5px;
    }
    .nav-bar{
        padding:0px 5px;
    }
    .corporate-tasks{    
        height: 50vw;
    }
    .task-wrapper{
        width: 80%;
    }
    .customers-wrapper{
        width: 85%;
        margin:5px auto;    
    }
    .special-fields{
        padding: 0;
        margin: 0 auto;
    }
    .special-field{
        padding-left: 25px;
        padding-right:5px ;
    }
    .special-field-description{
        margin: 10px 0px;
    }
    .special-list{
        margin-top: 0px;
        width: 100%;
        padding:0px;
    }
    .special-lists-wrapper{
        width: 90%;
        margin: 0 auto;
    }
    .special-icon-wrapper{
        padding-left:5px;
    }

    .content-3{
        padding: 15px 0px;
    }
    .content-wrapper{
        padding-top:100px;
    }

    .status{
        width: 40%;
        margin-top:20px;
    }

    .contact-wrapper{
        width: 80%;
    }

    .contact-form{
        width: 80%;
    }
    .footer{
        width: 100%;
        padding:10px;
    }
    
}


@media only screen and (max-width: 769px){
    .nav-toggler-icon{
        display: inline-block;
        padding:10px 0px;
    }

    .logo-wrapper{
        width: 95%;
    }
    
   .nav-items{
        height: 0px;
        display: block;
        overflow: hidden;
        width: 100%;
   }

   .nav-item{
        display: block;
        text-align: center;
   }

   .nav-item:hover{
       background-color:#4caf50;
       cursor: pointer;
   }
    .toggler-input:checked + .nav-items {
        height: fit-content;     
    }

    .nav-toggler-icon{
        text-align: right;
    }
    .nav-items{
        float:none
    }
    .customers-wrapper{
        padding:10px
    }

    .task-description{
        display: none;
    }
    .customer{
        float: none;
        width: 100%;
    }
    .customer-description{
        display: none;
    }
    .customer-heading{
        text-align: center;
    }
    .customer-logos {
        float: none;
        width: 100%;
    }
    .content-img-wrapper{
        display: none;
    }
    .special-fields{
        width: 100%;
        padding:  40px 0px;
    }
    .special-list,.status{
        width: 50%;
        float: left;
        padding:10px 0px;
    }
    .content-wrapper{
        width: 100%;
        padding:5px 25px;
    }
    .current-status-wrapper{
        margin:0px
    }
    .status{
        margin: 0;
    }
    .contact-description{
        display: none;
    }
    .contact-form{
        width: 90%;
        margin:10px auto;
    }
    .footer{
        width: 90%;
        margin: 10px auto;
    }

    .copyright{
        width: 100%;
        padding: 10px 0px;
    }

    .privacy-terms{
        width: 100%;
        text-align: center;
    }

    .copy-text{
        text-align: center;
    }

    .footer-logo-wrapper{
        display: none;
    }
    .copyright-text{
        display: none;
    }
    .footer-items{
        width: 100%;
    }
    .footer{
        padding-top:30px;
    }
}

@media only screen and (max-width: 600px){
    .task-wrapper{
        width: 100%;
    }

    .social-links{
        display: none;
    }
    .customers-wrapper{
        margin: 5px auto;
        padding: 5px;
    }

    .customer-logos{
        width: 100%;
    }
    .customer-logo-wrapper{
        width: 40%;
        display: inline-block;
    }
    .special-list,.status{
        width: 100%;
    }
    .p-40{
        padding:5px 10px;
    }
    .form-input{
        border-radius: 2px;
        height: 30px;
    }
    textarea.form-input{
        height: 60px;
    }

    .footer-category,.footer-community,.footer-follow{
        width: 100%;
    }

}
